/* style.css */
body, html {
    margin: 0;
    height: 100%;
}

#layout {
    display: flex;
    height: 100%;
    width: 100%;
}

#main {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
}


#map {
    flex: 1;
    width: 100%;
}

#player {
    height: 10%;
    background: #222;
    color: rgb(169, 60, 60);
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: Arial, sans-serif;
}

#time{
    background-color: #222;
    color: #fff;
    font-family: Arial, sans-serif;
    align-items: center;
    padding-top: 0px;
    padding-bottom: 10px;
}

#seekSlider {
    cursor: pointer;
    background: #444;
    width: 25%;
    height: 6px;
    border-radius: 3px;
    flex: 1;
    margin: 0 10px;
    margin-left: 35%;
    
}

#spacer {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
}

#T{ 
    background: #222;;
    opacity: 0.90;
    color: rgb(216, 9, 9);
    font-family: Arial, sans-serif;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
}

#queue {
    height: 100%;
    background: #222;;
    opacity: 0.90;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    flex-shrink: 0;
    flex-direction: column;

}
