/* style.css */
body, html {
    margin: 0;
    height: 100%;
}

/* Main horizontal layout: main area + right sidebar */
#layout {
    display: flex;
    height: 100%;
    width: 100%;
}

/* Main content (map + player) */
#main {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
}

/* Map fills most of the space */
#map {
    flex: 1;
    width: 100%;
}

/* Player fixed at bottom of main section */
#player {
    height: 10%;
    background: #222;
    color: rgb(169, 60, 60);
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: Arial, sans-serif;
}

#time{
    background-color: #222;
    color: #fff;
    font-family: Arial, sans-serif;
    align-items: center;
    /* margin: 0 10px; */
}

#seekSlider {
    cursor: pointer;
    background: #444;
    width: 25%;
    height: 6px;
    border-radius: 3px;
    flex: 1;
    margin: 0 10px;
    margin-left: 35%;
    
}


/* Queue sidebar on the RIGHT now */
#queue {
    width: 20%;
    background: #222;;
    opacity: 0.90;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    flex-shrink: 0;
    flex-direction: column;
}
